html{
    background-color: #FAE5D3;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

.general {
    width: 100%;
    margin: 0 auto;
}

.box_container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.box_principal {
    width: 390px;
    background:#fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 77px 55px 33px 55px;
   
}


h2 {
    margin: 0 0 40px;
    padding: 0;
    display: block;
    height: 40px;
    font-size: 30px;
    color:#f37c14;
    line-height: 0;
    text-align: center;   
}

.box_information input {
    width: 100%;
    height: 47px;
    outline: none;
    border: none;
    border-bottom: 2px solid #adadad;
/* 
    border-image: linear-gradient(to right, #42063a 100%, #42063a 100%); */
    margin-bottom: 37px;
    border-image-slice: 1;
    display: block;
    background: transparent;
    padding: 0 5px;
}

.information .box_information{
    position: relative;
}

.box_information label{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 10px;
    left: 0;
    color: #999;
    pointer-events: none;
}
.box_information span{
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 100%;
    top: 12px;
    left: 0;
    color: #999;
    pointer-events: none;
}

.box_information input:focus ~  span, 
.box_information input:valid ~  span {
    top: 0px;
    font-size: 15px;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 5%;
    position: absolute;
    left: 0;
    color: red;
    background-color: blue;
    padding-left: 5px;
    /* border-image: linear-gradient(to right, #42063a 0%, #dbcf22 100%); */

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.box_information input:focus, 
.box_information input:valid {
    border-bottom: 12px solid #d1ff04;
    border-image: linear-gradient(to right, #f37c14 0%, #c53a4a 100%);
    border-image-slice: 1;
    transition: all 1s;
}





