html{
    background-color: #FAE5D3;
}
body{
    background-color:#FDFEFE;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 25%; 
    margin-top: 3%;
}
h1{
    text-shadow: 2px 2px 5px #9F81F7;
    text-align: center;
}
h4{
    text-shadow: 2px 2px 5px #9F81F7;

}
section{
    display: flex;
    flex-direction: column;
}
.box_ingredients_multimedia{
    display: flex;
}
.ingredientes{
    flex: 1;
    padding: 1em;
}
.cake{
    border-radius: 5%;
}
ul.a{
    list-style-type: square;
}
.image{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    padding: 1em;
}
.preparacion{
    text-align: justify;
    padding: 1em;
}
