html{
    background-color: #A9F5F2;
}
body{
    background-color: #EFFBFB;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20%; 
    margin-top: 3%;
    text-align: center;
}
.title{
    text-shadow: 2px 2px 5px #9F81F7
}   
.cake{
    float: right;
    padding: 1em;
} 
img{
    border-radius: 5%;
} 
.flex_img_ing{
    flex-grow: initial;
 
}

.ingredientes{
    text-align: justify;
    padding: 1em;
}
ul.a{
    list-style-type: square;
}
.prepare{
 text-align: justify;  
 padding: 1em;
}
.additional{
    display: block;
    margin-left: auto;
    margin-right:25%;
    width: 45%;
}
