body{
    background-color:#FAE5D3;
}
.title{
    text-align: center;
}
img{
    border-radius: 50%;
}
h3
{
    text-shadow: 2px 2px 5px #DA81F5;
    text-align: center;
}
.rejilla{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
section{
    padding: 3em;
}
.fondo{
    background-color: #FDFEFE;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%; 
    margin-top: 3%;
}


